.shop-item:first-child {
  padding: 0;
}

.shop-item {
  padding: 40px 0;
}

.shop-item_img {
  border-radius: 30px;
  height: 380px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(225, 231, 237);
}

.shop-item_img img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
  transform: rotate(-24deg);
  margin-left: -16px;
}

.shop-item_name {
  font-size: 20px;
  font-weight: 700;
  margin: 26px 0 20px;
  line-height: 1.5;
}

.shop-item_description {
  font-size: 13px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}

.shop-item_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-item-price {
  font-size: 18px;
  font-weight: 700;
}

.shop-item-button.inactive {
  width: 46px;
  pointer-events: none;
  cursor: default;
}

.shop-item-button {
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.shop-item-button-cover {
  width: 16px;
  height: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-item-button-cover-check-icon {
  width: 100%;
  height: 100%;
  transform: translate(-100%, -73%) rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 50%;
}

.shop-item-button-cover-check-icon:before {
  width: 3px;
  height: 50%;
}
.shop-item-button-cover-check-icon:after {
  width: 100%;
  height: 3px;
}

.shop-item-button-cover-check-icon:after,
.shop-item-button-cover-check-icon:before {
  content: "";
  display: block;
  background-color: #303841;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}
